.sidebar{
    width: 35%;
    height: 300px;
    border-radius: 10px;
    text-decoration: none;
    color: white!important;
}
.sidebar .nav-link{
    color: white;
    font-weight: 500;
    padding: 20px;
}
.sidebar .nav-link:hover{
    color: #212529;
}
.imagen-perfil{
    height: 200px;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 50%!important;
    border: 2px solid blue;
}